<div>
  <!-- Modal for question addition/alteration-->
  <div id="editQuestionModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title" id="editQuestionModalLabel" style="display: inline; padding-right: 150px">Edit Question</h4>
          <label for="question_id">Question ID (do NOT change after the study has launched):</label>
          <input size=32 type="text" id="question_id" ng-model="surveyBuilder.currentQuestionFields.question_id">&nbsp;&nbsp;
          <input id="compulsory" type="checkbox" ng-model="surveyBuilder.currentQuestionFields.compulsory">
          <label for="compulsory">Compulsory</label>
          <input type="checkbox" class="form-control" ng-model="surveyBuilder.currentQuestionFields.save_state_variable" style="display: none">
        </div>
        <div class="modal-body">
          <span style="display:none"> {{ surveyBuilder.currentQuestionFields }} </span>
          <table style="width: 100%;">
            <tr>
              <td>
                <label for="text" ng-if="surveyBuilder.currentQuestionFields.question_type != surveyBuilder.QUESTION_TYPES.webSurvey">Question Text:</label>
                <label for="text" ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.webSurvey">Webpage HTML or URL (multi-line will randomly select one):</label>
              </td>
              <td>
                <textarea name="question_text" id="text" class="form-control" rows=4
                       ng-model="surveyBuilder.currentQuestionFields.question_text">
                </textarea>
              </td>
            </tr>
            <tr>
              <td><label for="type">Question Type:</label></td>
              <td>
                <select name="type" id="type" class="form-control"
                        ng-model="surveyBuilder.currentQuestionFields.question_type"
                        ng-options="surveyBuilder.QUESTION_TYPE_LABELS[type] for type in surveyBuilder.QUESTION_TYPES track by type">
                </select>
              </td>
            </tr>
            <tr ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.webSurvey">
              <td><label for="min">Play Time Limits:</label></td>
              <td>
                <input type="text" name="play_time_limits" id="play_time_limits" class="form-control"
                       ng-model="surveyBuilder.currentQuestionFields.play_time_limits" placeholder="(max_sec_per_play(:max_sec_per_day(:max_sec_per_week)))">
              </td>
            </tr>
            <tr ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.webSurvey">
              <td><label for="min">WebView settings:</label></td>
              <td>
                <span ng-repeat="(key,val) in surveyBuilder.webviewSettings">
                  <span style="white-space: nowrap;">
                    <input id="key-{{key}}" type="checkbox" ng-model="surveyBuilder.webviewSettings[key]" ng-if="val === true || val === false">
                    <label for="key-{{key}}" ng-bind="key"></label>
                    <input id="key-{{key}}" type="number" ng-model="surveyBuilder.webviewSettings[key]" ng-if="val !== true && val !== false">&nbsp;
                  </span>
                </span>
              </td>
            </tr>
            <tr ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.webSurvey">
              <td><label for="min">WebView controls:</label></td>
              <td>
                <span style="white-space: nowrap;">
                  <input id="allowNavi" type="checkbox" ng-model="surveyBuilder.currentQuestionFields.allow_navigation">
                  <label for="allowNavi">Allow Page Navigation</label>
                </span>&nbsp;
                <span style="white-space: nowrap;">
                  <input id="trackEvent" type="checkbox" ng-model="surveyBuilder.currentQuestionFields.track_event">
                  <label for="trackEvent">Track User Touch Events</label>
                </span>
              </td>
            </tr>
            <tr ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.slider">
              <td><label for="min">Minimum Value:</label></td>
              <td>
                <input type="number" name="min" id="min" class="form-control"
                       ng-model="surveyBuilder.currentQuestionFields.min">
              </td>
            </tr>
            <tr ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.slider">
              <td><label for="max">Maximum Value:</label></td>
              <td>
                <input type="number" name="max" id="max" class="form-control"
                       ng-model="surveyBuilder.currentQuestionFields.max">
              </td>
            </tr>
            <tr ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.freeResponse">
              <td><label for="tfttxt">Answer Type:</label></td>
              <td>
                <select name="text_field_type" id="tfttxt" class="form-control"
                        ng-model="surveyBuilder.currentQuestionFields.text_field_type"
                        ng-options="surveyBuilder.TEXT_FIELD_TYPE_LABELS[type] for type in surveyBuilder.TEXT_FIELD_TYPES track by type">
                </select>
              </td>
            </tr>
            <tbody ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.radio || surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.checkbox"
                   id="fields_div">
              <tr>
                <td><label>Answer Choices:</label></td>
                <td>
                  <button class="btn btn-info" ng-click="surveyBuilder.addAnswerField()">Add new answer choice</button>
                </td>
              </tr>
              <tr ng-repeat="answer in surveyBuilder.currentQuestionFields.answers">
                <td class="text-right">
                  <span ng-if="surveyBuilder.currentQuestionFields.question_type == surveyBuilder.QUESTION_TYPES.radio">
                    {{ $index+1 }}:
                  </span>
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="answer.text">
                </td>
                <td>
                  <button class="close pull-right" style="line-height: 34px;" ng-click="surveyBuilder.deleteAnswerField($index)">&times;</button>
                </td>
              </tr>
            </tbody>
  
            <!-- Visual break between the question and the question's skip logic -->
            <tr><td>&nbsp;</td></tr>
  
            <tr ng-if="surveyBuilder.randomize">
              <td colspan="2">
                <div class="alert alert-warning" style="margin-bottom: 0;">
                  Skip logic for this question has been disabled because the survey is randomized. You may still edit
                  the logic below, but this question will always be displayed as long as the survey remains randomized.
                </div>
              </td>
            </tr>
            <tr ng-class="{'faded': surveyBuilder.randomize}">
              <td class="tablecell-align-top">
                <label for="text">Display this<br>question if:</label>
              </td>
              <td>
                <logical-block ng-if="surveyBuilder.LOGICAL_OPERATORS.indexOf(surveyBuilder.getOperatorType(surveyBuilder.currentQuestionFields.display_if)) > -1"
                               path="" survey-builder="surveyBuilder"></logical-block>
                <div ng-if="surveyBuilder.ARITHMETIC_OPERATORS.indexOf(surveyBuilder.getOperatorType(surveyBuilder.currentQuestionFields.display_if)) > -1">
                  <div class="alert alert-warning">
                    You will be limited to a single conditional statement if you do not have an AND or OR block as the first element.
                  </div>
                  <conditional-block survey-builder="surveyBuilder" path=""></conditional-block>
                </div>
                <div ng-if="!surveyBuilder.currentQuestionFields.display_if">
                  <add-logic-buttons new-path="{{ getNewPath() }}" survey-builder="surveyBuilder"></add-logic-buttons>
                </div>
                <!-- Uncomment this code for debugging -->
                <!--<div style="color: #eaeaea; font-size: 12px; line-height: 12px;">
                  var displayIf = '{{ surveyBuilder.currentQuestionFields.display_if }}';
                  <br>
                  <br>
                  <br>
                </div>-->
                <!-- /Uncomment this code for debugging -->
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button ng-if="surveyBuilder.currentQuestionFields.is_new_question"
                  class="btn btn-primary" data-dismiss="modal" ng-click="surveyBuilder.addNewQuestion()">
            Add Question
          </button>
          <button ng-if="!surveyBuilder.currentQuestionFields.is_new_question"
                  class="btn btn-primary" data-dismiss="modal"
                  ng-click="surveyBuilder.editQuestion()">
            Save Question
          </button>
          <button class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>