<div class="panel panel-default" ng-repeat="question in surveyBuilder.questions">
  <div class="panel-body">
    <table>
      <tr>
        <td style="width: 185px; padding-left: 20px; padding-right: 30px; text-align: center;">
          <h1>Q{{ $index + 1 }}</h1>
          <span ng-if="question.display_if && !surveyBuilder.randomize" class="label label-warning">
            Conditionally Displayed
          </span>
          <span ng-if="question.display_if && surveyBuilder.randomize" class="label label-info"
                title="This question's skip logic is disabled because the survey is randomized."
                data-toggle="tooltip" data-placement="bottom" tooltip>
            Always Displayed <span class="glyphicon glyphicon-info-sign"></span>
          </span>
          <span ng-if="!question.display_if" class="label label-success">
            Always Displayed
          </span>
          <br>
          <span ng-if="question.save_state_variable" class="label label-info">
            {{question.question_id}}
          </span>
        </td>
        <td>
<!--          <h4 style="display: block; white-space: nowrap; width: 800px; overflow: hidden; text-overflow: ellipsis;">{{ question.question_text }}</h4>-->
          <table>
            <tr>
              <td><i>Question Text:</i></td>
              <td ng-bind-html="renderHTML(question.question_text)"></td>
            </tr>
            <!-- Question type -->
            <tr>
              <td><i>Question Type:</i></td>
              <td>{{ surveyBuilder.QUESTION_TYPE_LABELS[question.question_type] }}</td>
            </tr>
            <!-- Slider question minimum and maximum -->
            <tr ng-if="question.min">
              <td><i>Minimum:</i></td>
              <td>{{ question.min }}</td>
            </tr>
            <tr ng-if="question.max">
              <td><i>Maximum:</i></td>
              <td>{{ question.max }}</td>
            <tr>
            <!-- Radio Button or Checkbox question options array -->
            <tr ng-if="question.answers" ng-repeat-start="answer in question.answers" ng-repeat-end>
              <td><i>Option {{ $index+1 }}:</i></td>
              <td><span style="display: block;" ng-bind-html="renderHTML(answer.text)"></span></td>
<!--                <span style="display: block; white-space: nowrap; width: 800px; overflow: hidden; text-overflow: ellipsis;" ng-repeat-start="answer in question.answers">{{ answer.text }} ,</span>-->
<!--                <span ng-if="!$last" ng-repeat-end></span>-->
            </tr>
            <!-- Free response question text_field_type -->
            <tr ng-if="question.question_type == surveyBuilder.QUESTION_TYPES.freeResponse">
              <td><i>Text Field Type:</i></td>
              <td>{{ surveyBuilder.TEXT_FIELD_TYPE_LABELS[question.text_field_type] }}</td>
            </tr>
            
            <!-- Action buttons -->
            <tr>
              <td colspan="2">
                <button class="btn btn-default btn-sm" ng-click="surveyBuilder.populateEditQuestionModal($index);surveyBuilder.clearClipboard(true)">Edit</button>
                <button class="btn btn-sm" ng-class="{'btn-primary': question.compulsory}" ng-click="question.compulsory=!question.compulsory" title="Compulsory questions that are conditionally displayed can be skipped only when the conditions are not fulfilled in the first place.">Compulsory</button>
                <button class="btn btn-sm" ng-class="{'btn-primary': question.save_state_variable}" ng-click="question.save_state_variable=!question.save_state_variable" title="Whether the answer to this question will be saved in the state variable JSON for this patient">Save State Variable</button>
                <button class="btn btn-default btn-sm" ng-click="surveyBuilder.deleteQuestion($index);surveyBuilder.clearClipboard()">Delete</button>
                <button ng-class="{'disabled': $first}" class="btn btn-default btn-sm" ng-click="surveyBuilder.moveQuestionUp($index);surveyBuilder.clearClipboard(true)">
                  Move Up
                </button>
                <button ng-class="{'disabled': $last}" class="btn btn-default btn-sm" ng-click="surveyBuilder.moveQuestionDown($index);surveyBuilder.clearClipboard(true)">
                  Move Down
                </button>
                <button class="btn btn-sm" ng-class="{'btn-primary': copied[$index]}" title="Toggle copying this question in the clipboard"
                        ng-click="copied[$index] = !copied[$index]; surveyBuilder.copyClipboard($index);">{{copied[$index]?"Copied":"Copy"}}</button>
                <button class="btn btn-default btn-sm" ng-click="surveyBuilder.pasteQuestions($index)" title="Insert before this question">Paste</button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
