<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width"
    />

    <script
      src="/static/javascript/jquery-1.12.4.js"
      type="text/javascript"
    ></script>
    <script
      src="/static/javascript/handlebars-v2.0.0.js"
      type="text/javascript"
    ></script>
    <script
      src="/static/javascript/jquery.dataTables.min.js"
      type="text/javascript"
    ></script>
    <script src="/static/javascript/admin.js" type="text/javascript"></script>
    <script
      src="/static/javascript/libraries/bootstrap-3.3.4.min.js"
      type="text/javascript"
    ></script>
    <script
      src="/static/javascript/libraries/bootstrap-timepicker.js"
      type="text/javascript"
    ></script>
    <script
      src="/static/javascript/libraries/angular.min.js"
      type="text/javascript"
    ></script>
    <script src="/static/javascript/libraries/lodash.min.js"></script>
    {# if the following line is included befor #}
    <link
      rel="stylesheet"
      href="/static/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/css/jquery.dataTables.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/admin.css" type="text/css" />
    {# if the next line is included we will not have width scaling #} {#
    <link
      rel="stylesheet"
      href="/static/css/libraries/bootstrap.css"
      media="all"
      type="text/css"
    />
    #}
    <link
      rel="stylesheet"
      href="/static/css/libraries/bootstrap-timepicker.css"
      type="text/css"
    />

    <!-- Sentry Configuration -->
    {% if SENTRY_JAVASCRIPT_DSN != 'USE_EMAIL_FALLBACK' %}

    {# TODO: get a favicon #}
    <link
      rel="icon"
      type="image/ico"
      href="/static/images/favicon.ico"
    />
    {% endif %}

    <!-- Load Angular -->
    <script src="/static/javascript/app/app.module.js"></script>

    <title>HOPES | {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body ng-app="surveyBuilder" {% block body_attributes %}{% endblock %}>
    <div class="row">
      {% block navbar %} {% include 'navbar.html' %} {% endblock %}
    </div>

    <div class="container">
      <div class="row">
        {% block notifications %} {% include 'notifications.html' %} {% endblock
        %}
      </div>

      <div id="content" class="row">
        {% block content %} {% endblock %}
      </div>

      <div id="footer" class="row">
        {% block footer %} {% include 'footer.html' %} {% endblock %}
      </div>
    </div>

    {% block javascript %} {% endblock %}
  </body>
</html>
