{% extends "base.html" %} {% block title %}Add New Researcher{% endblock %} {%
block content %}

<div class="row">
  <h3>Add New Researcher</h3>
</div>

<br />

<div class="row col-md-4">
  <form action="/create_new_researcher" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
      <label for="admin_id">Username</label>
      <input
        type="text"
        name="admin_id"
        id="admin_id"
        class="form-control"
        autocomplete="off"
        readonly
        onfocus="this.removeAttribute('readonly');"
        onfocusout="this.setAttribute('readonly', 'readonly');"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        autocomplete="off"
        readonly
        onfocus="this.removeAttribute('readonly');"
        onfocusout="this.setAttribute('readonly', 'readonly');"
      />
    </div>
    <input type="submit" class="btn btn-success" value="Add new researcher" />

    <a href="/manage_researchers" class="btn btn-warning pull-right">Cancel</a>
  </form>
</div>

{% endblock %}
