{% extends "base.html" %} {% block title %}Create Study{% endblock %} {% block
head %}
{{ super() }}
<script>
  filterableObjects = {{ studies|safe }}
</script>
<script src="/static/javascript/app/survey-builder/controllers/filterable-list-controller.js"></script>
{% endblock %} {% block content %}

<div class="row">
  <h3>Create Study</h3>
</div>

<br />

<div class="row col-md-8">
  <form action="/create_study" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
      <label for="name">Study Name</label>
      <input type="text" name="name" id="name" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="encryption_key">32-Character Encryption Key</label>
      <input
        type="text"
        name="encryption_key"
        id="encryption_key"
        class="form-control"
        required
      />
    </div>

    <p>
      <i
        >Note: You MUST copy down the encryption key somewhere; if you lose it,
        you cannot access any data from this study!</i
      >
    </p>
    <p>
      <i
        >We recommend you use a random string generator (like the one on
        <a href="https://www.random.org/strings/">random.org</a>) to create the
        32-character encryption key.</i
      >
    </p>
    <br />

    <div id="isTestBox">
      <div class="radio">
        <p><b>This study involves:</b></p>
        <label>
          <input type="radio" name="is_test" value="true" />
          Test data: researchers will be able to download raw data and processed
          data output from the Data Analysis Pipeline. Use this setting for
          testing and debugging.
        </label>
        <br />
        <label>
          <input type="radio" name="is_test" value="false" checked />
          Production data: researchers will only be able to download processed
          data output from the Data Analysis Pipeline. This setting is higher
          security. Use this setting if your study will involve actual patient
          data.
        </label>
      </div>
    </div>
    <br />

    {# Copy settings and surveys from an existing study #}
    <div id="filterableList" ng-controller="FilterableListController">
      <div class="checkbox">
        {# Checkbox: do you want to copy an existing study? #}
        <label>
          <input
            type="checkbox"
            name="copy_existing_study"
            ng-model="copy_existing_study"
            value="true"
          />
          Copy App Settings or Surveys from an existing study into this new
          study that you're creating
        </label>
      </div>
      {# Only show these inputs if they checked that yes, they do want to copy
      an existing study #}
      <div ng-if="copy_existing_study == true">
        <div class="form-group">
          <input
            type="search"
            class="form-control"
            placeholder="Filter by study name"
            ng-model="studyFilterText"
          />
        </div>
        {# Dropdown menu to select a study #}
        <div class="form-group">
          <select
            class="form-control"
            ng-model="existingStudy"
            name="existing_study_id"
            ng-options="study.name for study in filterableObjects | filter:{name: studyFilterText} track by study.id"
          ></select>
        </div>
        {# Checkbox: copy app settings? #}
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              name="device_settings"
              value="true"
              checked
            />
            Copy {% raw %}{{ existingStudy.name }}{% endraw %} App Settings into
            this new study that you're creating
          </label>
        </div>
        {# Checkbox: copy surveys? #}
        <div class="checkbox">
          <label>
            <input type="checkbox" name="surveys" value="true" checked />
            Copy {% raw %}{{ existingStudy.name }}{% endraw %} Surveys and Audio
            Surveys into this new study that you're creating
          </label>
        </div>
      </div>
    </div>
    <br />

    <input type="submit" class="btn btn-success" value="Create Study" />

    <a href="/manage_studies" class="btn btn-warning pull-right">Cancel</a>
  </form>
</div>

{% endblock %}
