<div
  class="modal fade"
  id="addManyPatientsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form
        action="/create_many_patients/{{ study.id }}"
        method="post"
        id="createManyPatientsForm"
      >
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add many new patients</h4>
          <p>
            Create a number of new Patient IDs, and download a CSV file of the
            new Patient IDs with their registration passwords.
          </p>
          <p>
            <b>Important: there is no way to delete a Patient ID!</b> Make sure
            you really do want to create this many new Patient IDs.
          </p>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Number of new patient IDs to generate:</label>
            <input
              class="form-control"
              type="number"
              name="number_of_new_patients"
              value=10
              required="true"
            />
          </div>
          <div class="form-group">
            <label>Patient Name Template (## represent index, empty means the same as patient_id):</label>
            <input
              class="form-control"
              type="text"
              name="patient_name_template"
              value="patient_batch_##_of_10"
              required="true"
            />
          </div>
        </div>
        <div class="modal-footer">
          <div id="many-new-patients-loading-spinner">
            <p>
              <b>This may take several minutes</b>, because it's computationally
              intensive for Beiwe to create cryptographically secure keys for
              each patient.
              <b
                >Do not close this window until your file finishes
                downloading.</b
              >
            </p>
            <!--<div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"><span class="sr-only">Loading...</span></div>
                        </div>-->
          </div>
          <div id="many-new-patients-submit-and-cancel-buttons">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              id="createManyPatientsButton"
            >
              Create new Patient IDs
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
