{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
	<li>
		<a href="/view_study/{{ study.id }}">{{ study.name }}</a>
	</li>
	<li class="active">
		App Settings
	</li>
</ol>

{% if readonly %}
<div>
{% else %}
<form id="form1" action="/device_settings/{{ study.id }}" method="POST">
{% if not readonly %}
<button class="btn btn-primary btn-block" type="submit">Save All and Return</button>
{% endif %}
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
{% endif %}
	<h2 style="text-align: center"><b>{{ ('' if readonly else 'Edit ')+'Study Settings' }}</b></h2>

<script>
function save_all(){
	var formData = new FormData(document.getElementById("form1"));
	var forceReload = document.getElementById("data_completion_eval_formulae").value=='show_default'
		|| document.getElementById("data_completion_report_template").value=='show_default';
	formData.append("save_only", 1);
	$.ajax({
        url: "/device_settings/{{ study.id }}",
        type: 'POST',
        data: formData,
        processData: false,
    		contentType: false,
        success: function(){ alert("All settings saved successfully!"); location.reload(forceReload); },
        error: function(jqXHR, textStatus, errorMessage){ alert(textStatus+" "+errorMessage); }
    });
}
</script>

	<h3><b>Dashboard Settings</b></h3>
	<div class="form-group">
		<label for="study_cycle_days" class="col-xs-3" style="padding-left: 0; padding-top: 5px;">Study Cycle (number of days):</label>
		<div class="col-xs-2">
			<input id="study_cycle_days" name="study_cycle_days" class="form-control "
				type="number" placeholder="Enter duration here (days)"
				value="{{ settings['study_cycle_days'] }}" {{ "disabled" if readonly }}>
		</div><br><br>
	</div>
	<div class="form-group">
		<label for="daily_check_formula">Formula for daily data check (Python code that print a string from df (upload_info)):</label>
		<textarea id="daily_check_formula" name="daily_check_formula" class="form-control" type="text"
							placeholder='e.g., print("X"*len(df.iloc[-cycle_days:, :].index))' rows="4" cols="120" style="resize: both; overflow: auto;"
							{{ "disabled" if readonly }}>{{ settings['daily_check_formula'] }}</textarea>
	</div>
	<div class="form-group">
		<label for="date_elapse_color">Color scheme for elapse (in seconds) from last upload (Python code):</label>
		<input id="date_elapse_color" name="date_elapse_color" class="form-control" type="text"
			   placeholder='e.g., "lime" if elapse<30*3600 else ("orange" if elapse<72*3600 else "red")'
			   value="{{ settings['date_elapse_color'] }}" {{ "disabled" if readonly }} />
	</div>
	<div class="form-group">
		<label for="external_dashboards">Link external dashboards (a Python dictionary mapping dashboard names to the respective backend communication commands): </label>
		<input id="external_dashboards" name="external_dashboards" class="form-control" type="text"
			   value="{{ settings['external_dashboards'] }}" {{ "disabled" if readonly }} />
	</div>

	<h3><b>Enrollment Settings</b></h3>

	<div class="form-group">
		<label for="otp_expire_in_sec" class="col-xs-3" style="padding-left: 0; padding-top: 5px;">OTP expiry duration (in seconds):</label>
		<div class="col-xs-2">
			<input id="otp_expire_in_sec" name="otp_expire_in_sec" class="form-control "
				type="number" placeholder="Enter duration here (days)"
				value="{{ settings['otp_expire_in_sec'] }}" {{ "disabled" if readonly }}>
		</div><br>
	</div>
	<div class="form-group">
		<label for="otp_email_title">OTP Email Title:</label>
		<input id="otp_email_title" name="otp_email_title" class="form-control" type="text"
			   value="{{ settings['otp_email_title'] }}" {{ "disabled" if readonly }} />
	</div>
	<div class="form-group">
		<label for="otp_email_content">OTP Email Content (in HTML format, should contain &lt;OTP&gt; and &lt;DURATION&gt;):</label>
		<textarea name="otp_email_content" id="otp_email_content" class="form-control" rows="4" cols="120" style="resize: both; overflow: auto;"
			{{ "disabled" if readonly }}>{{settings['otp_email_content']}}</textarea>
	</div>
	<div class="form-horizontal">
		<div class="col-xs-6">
			<div class="form-group">
				<label for="accelerometer" class="col-xs-8 control-label">Allow same phone to re-register using the same QR:</label>
				<div class="col-xs-3 checkbox checkbox-custom">
					<label>
						<input name="allow_same_qr_same_phone_rereg" id="allow_same_qr_same_phone_rereg" type="checkbox"
							{{ "checked" if settings["allow_same_qr_same_phone_rereg"] }} {{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label for="accelerometer" class="col-xs-8 control-label">Allow other phones to re-register using same QR:</label>
				<div class="col-xs-3 checkbox checkbox-custom">
					<label>
						<input name="allow_same_qr_diff_phone_rereg" id="allow_same_qr_diff_phone_rereg" type="checkbox"
							{{ "checked" if settings["allow_same_qr_diff_phone_rereg"] }} {{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group" spellcheck="false">
		<label for="registration_allow_list">Registration Allow List (every row is either an Email regex or a username-and-password pair separated by a space):</label>
		<textarea name="registration_allow_list" id="registration_allow_list" class="form-control" rows="8" cols="120" style="resize: both; overflow: auto;"
			{{ "disabled" if readonly }}>{{settings['registration_allow_list']}}</textarea>
	</div>
	<div class="form-group" spellcheck="false">
		<label for="data_completion_eval_formulae">Data Completion Evaluation Formulae (in Python code; can also be "default" or "show_default"):</label>
		<textarea name="data_completion_eval_formulae" id="data_completion_eval_formulae" class="form-control" rows="8" cols="120" style="resize: both; overflow: auto;"
			{{ "disabled" if readonly }}>{{settings['data_completion_eval_formulae']}}</textarea>
	</div>
	<div class="form-group" spellcheck="false">
		<label for="data_completion_report_template">Data Completion Report (in HTML Jinja template; can use df, settings, user, study, and variables created in eval formulae; can also be "default" or "show_default"):</label>
		<textarea name="data_completion_report_template" id="data_completion_report_template" class="form-control" rows="8" cols="120" style="resize: both; overflow: auto;"
			{{ "disabled" if readonly }}>{{settings['data_completion_report_template']}}</textarea>
	</div>

	{% if not readonly %}
	<button class="btn btn-primary btn-block" type="button" onclick="save_all()">Save All</button>
	{% endif %}

	<h3><b>Device Settings</b></h3>

<!--Double pane	-->
	<div class="form-horizontal">
<!--	The left pane	-->
		<div class="col-xs-6">
			<div class="form-group">
				<label for="accelerometer" class="col-xs-8 control-label">Accelerometer:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="accelerometer" id="accelerometer" type="checkbox"
							{{ "checked" if settings["accelerometer"] }} {{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="ambientlight" class="col-xs-8 control-label">AmbientLight:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="ambientlight" id="ambientlight" type="checkbox" {{ "checked" if settings["ambientlight"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="accessibility" class="col-xs-8 control-label">Accessibility (<i>accessibilityLog</i>):</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="accessibility" id="accessibility" type="checkbox" {{ "checked" if settings["accessibility"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="gps" class="col-xs-8 control-label">GPS:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="gps" id="gps" type="checkbox" {{ "checked" if settings["gps"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="calls" class="col-xs-8 control-label">Call logs:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="calls" id="calls" type="checkbox" {{ "checked" if settings["calls"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="sms" class="col-xs-8 control-label">SMS logs:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="sms" id="sms" type="checkbox" {{ "checked" if settings["sms"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="taps" class="col-xs-8 control-label">Taps:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="taps" id="taps" type="checkbox" {{ "checked" if settings["taps"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="sociability_call" class="col-xs-8 control-label">Sociability (Calls):</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="sociability_call" id="sociability_call" type="checkbox" {{ "checked" if settings["sociability_call"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="sociability_msg" class="col-xs-8 control-label">Sociability (Messages):</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="sociability_msg" id="sociability_msg" type="checkbox" {{ "checked" if settings["sociability_msg"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="proximity" class="col-xs-8 control-label">Proximity:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="proximity" id="proximity" type="checkbox" {{ "checked" if settings["proximity"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="gyro" class="col-xs-8 control-label">Gyro:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="gyro" id="gyro" type="checkbox" {{ "checked" if settings["gyro"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="magnetometer" class="col-xs-8 control-label">Magnetometer:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="magnetometer" id="magnetometer" type="checkbox" {{ "checked" if settings["magnetometer"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="pedometer" class="col-xs-8 control-label">Pedometer:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="pedometer" id="pedometer" type="checkbox" {{ "checked" if settings["pedometer"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="devicemotion" class="col-xs-8 control-label">Device Motion:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="devicemotion" id="devicemotion" type="checkbox" {{ "checked" if settings["devicemotion"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="reachability" class="col-xs-8 control-label">Reachability:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="reachability" id="reachability" type="checkbox" {{ "checked" if settings["reachability"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="wifi" class="col-xs-8 control-label">WiFi:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="wifi" id="wifi" type="checkbox" {{ "checked" if settings["wifi"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="bluetooth" class="col-xs-8 control-label">Bluetooth:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="bluetooth" id="bluetooth" type="checkbox" {{ "checked" if settings["bluetooth"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="bluetooth_state" class="col-xs-8 control-label">Bluetooth State:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="bluetooth_state" id="bluetooth_state" type="checkbox" {{ "checked" if settings["bluetooth_state"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="power_state" class="col-xs-8 control-label">Power state:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="power_state" id="power_state" type="checkbox" {{ "checked" if settings["power_state"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="usage" class="col-xs-8 control-label">Usage Stat:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="usage" id="usage" type="checkbox" {{ "checked" if settings["usage"] }}
							{{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="allow_upload_over_cellular_data" class="col-xs-8 control-label">Allow data upload over a
					cellular data plan: </label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="allow_upload_over_cellular_data" id="allow_upload_over_cellular_data" type="checkbox"
							{{ "checked" if settings["allow_upload_over_cellular_data"] }} {{ "disabled" if readonly }} />
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="use_anonymized_hashing" class="col-xs-8 control-label">Use anonymized phone number and
					MAC address encryption:</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="use_anonymized_hashing" id="use_anonymized_hashing" type="checkbox"
							{{ "checked" if settings["use_anonymized_hashing"] }} {{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="use_gps_fuzzing" class="col-xs-8 control-label">Fuzz/anonymize GPS data:<br>(make every
					phone generate a random latitude offset and a random longitude offset, and add those constant
					offsets to the recorded GPS coordinates)</label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="use_gps_fuzzing" id="use_gps_fuzzing" type="checkbox"
							{{ "checked" if settings["use_gps_fuzzing"] }} {{ "disabled" if readonly }} />
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="use_compression" class="col-xs-8 control-label">Use Compression (and merge): </label>
				<div class="col-xs-4 checkbox checkbox-custom">
					<label>
						<input name="use_compression" id="use_compression" type="checkbox" {{ "checked" if settings["use_compression"] }} {{ "disabled" if readonly }}/>
					</label>
				</div>
			</div>
		</div>

<!--	The right pane	-->
		<div class="col-xs-6">
			<div class="form-group">
				<label for="accelerometer_on_duration_seconds" class="col-xs-8 control-label">Accelerometer
					<b>on</b> duration:</label>
				<div class="col-xs-4">
					<input id="accelerometer_on_duration_seconds" name="accelerometer_on_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['accelerometer_on_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="accelerometer_off_duration_seconds" class="col-xs-8 control-label">Accelerometer
					<b>off</b> duration:</label>
				<div class="col-xs-4">
					<input id="accelerometer_off_duration_seconds" name="accelerometer_off_duration_seconds"
						class="form-control" type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['accelerometer_off_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="ambientlight_interval_seconds" class="col-xs-8 control-label">AmbientLight <b>sensor</b>
					interval:</label>
				<div class="col-xs-4">
					<input id="ambientlight_interval_seconds" name="ambientlight_interval_seconds" class="form-control"
						type="number" placeholder="Enter interval here (seconds)"
						value="{{ settings['ambientlight_interval_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="gps_on_duration_seconds" class="col-xs-8 control-label">GPS <b>on</b> duration (0 for single-update mode):</label>
				<div class="col-xs-4">
					<input id="gps_on_duration_seconds" name="gps_on_duration_seconds" class="form-control" type="number"
						placeholder="Enter duration here (seconds)" value="{{ settings['gps_on_duration_seconds'] }}"
						{{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="gps_off_duration_seconds" class="col-xs-8 control-label">GPS <b>off</b>
					duration (0 for passive-update mode):</label>
				<div class="col-xs-4">
					<input id="gps_off_duration_seconds" name="gps_off_duration_seconds" class="form-control" type="number"
						placeholder="Enter duration here (seconds)" value="{{ settings['gps_off_duration_seconds'] }}"
						{{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="gyro_on_duration_seconds" class="col-xs-8 control-label">Gyro <b>on</b>
					duration:</label>
				<div class="col-xs-4">
					<input id="gyro_on_duration_seconds" name="gyro_on_duration_seconds" class="form-control" type="number"
						placeholder="Enter duration here (seconds)" value="{{ settings['gyro_on_duration_seconds'] }}"
						{{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="gyro_off_duration_seconds" class="col-xs-8 control-label">Gyro <b>off</b>
					duration:</label>
				<div class="col-xs-4">
					<input id="gyro_off_duration_seconds" name="gyro_off_duration_seconds" class="form-control" type="number"
						placeholder="Enter duration here (seconds)" value="{{ settings['gyro_off_duration_seconds'] }}"
						{{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="magnetometer_on_duration_seconds" class="col-xs-8 control-label">Magnetometer <b>on</b>
					duration:</label>
				<div class="col-xs-4">
					<input id="magnetometer_on_duration_seconds" name="magnetometer_on_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['magnetometer_on_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="magnetometer_off_duration_seconds" class="col-xs-8 control-label">Magnetometer
					<b>off</b> duration:</label>
				<div class="col-xs-4">
					<input id="magnetometer_off_duration_seconds" name="magnetometer_off_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['magnetometer_off_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="pedometer_on_duration_seconds" class="col-xs-8 control-label">Pedometer <b>on</b>
					duration:</label>
				<div class="col-xs-4">
					<input id="pedometer_on_duration_seconds" name="pedometer_on_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['pedometer_on_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="pedometer_off_duration_seconds" class="col-xs-8 control-label">Pedometer
					<b>off</b> duration:</label>
				<div class="col-xs-4">
					<input id="pedometer_off_duration_seconds" name="pedometer_off_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['pedometer_off_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="devicemotion_on_duration_seconds" class="col-xs-8 control-label">DeviceMotion <b>on</b>
					duration:</label>
				<div class="col-xs-4">
					<input id="devicemotion_on_duration_seconds" name="devicemotion_on_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['devicemotion_on_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="devicemotion_off_duration_seconds" class="col-xs-8 control-label">DeviceMotion
					<b>off</b> duration:</label>
				<div class="col-xs-4">
					<input id="devicemotion_off_duration_seconds" name="devicemotion_off_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['devicemotion_off_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="usage_update_interval_seconds" class="col-xs-8 control-label">Usage update interval:</label>
				<div class="col-xs-4">
					<input id="usage_update_interval_seconds" name="usage_update_interval_seconds" class="form-control"
						type="number" placeholder="0 (update at file creation interval)"
						value="{{ settings['usage_update_interval_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="bluetooth_on_duration_seconds" class="col-xs-8 control-label">Bluetooth <b>on</b>
					duration:</label>
				<div class="col-xs-4">
					<input id="bluetooth_on_duration_seconds" name="bluetooth_on_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['bluetooth_on_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="bluetooth_total_duration_seconds" class="col-xs-8 control-label">Bluetooth <b>total</b>
					duration:</label>
				<div class="col-xs-4">
					<input id="bluetooth_total_duration_seconds" name="bluetooth_total_duration_seconds" class="form-control"
						type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['bluetooth_total_duration_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="bluetooth_global_offset_seconds" class="col-xs-8 control-label">Bluetooth global
					offset:</label>
				<div class="col-xs-4">
					<input id="bluetooth_global_offset_seconds" name="bluetooth_global_offset_seconds" class="form-control"
						type="number" placeholder="Enter offset here (seconds)"
						value="{{ settings['bluetooth_global_offset_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="wifi_log_frequency_seconds" class="col-xs-8 control-label">WiFi log frequency:</label>
				<div class="col-xs-4">
					<input id="wifi_log_frequency_seconds" name="wifi_log_frequency_seconds" class="form-control" type="number"
						placeholder="Enter frequency here (seconds)" value="{{ settings['wifi_log_frequency_seconds'] }}"
						{{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="voice_recording_max_time_length_seconds" class="col-xs-8 control-label">Voice recording
					max time duration:</label>
				<div class="col-xs-4">
					<input id="voice_recording_max_time_length_seconds" name="voice_recording_max_time_length_seconds"
						class="form-control" type="number" placeholder="Enter duration here (seconds)"
						value="{{ settings['voice_recording_max_time_length_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="seconds_before_auto_logout" class="col-xs-8 control-label">Duration before
					auto-logout:</label>
				<div class="col-xs-4">
					<input id="seconds_before_auto_logout" name="seconds_before_auto_logout" class="form-control" type="number"
						placeholder="Enter duration here (seconds)" value="{{ settings['seconds_before_auto_logout'] }}"
						{{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="check_for_new_surveys_frequency_seconds" class="col-xs-8 control-label">Check for new surveys frequency:</label>
				<div class="col-xs-4">
					<input id="check_for_new_surveys_frequency_seconds" name="check_for_new_surveys_frequency_seconds"
						class="form-control" type="number" placeholder="Enter frequency here (seconds)"
						value="{{ settings['check_for_new_surveys_frequency_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="create_new_data_files_frequency_seconds" class="col-xs-8 control-label">Create new data files frequency:</label>
				<div class="col-xs-4">
					<input id="create_new_data_files_frequency_seconds" name="create_new_data_files_frequency_seconds"
						class="form-control" type="number" placeholder="Enter frequency here (seconds)"
						value="{{ settings['create_new_data_files_frequency_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="upload_data_files_frequency_seconds" class="col-xs-8 control-label">Upload data files frequency:</label>
				<div class="col-xs-4">
					<input id="upload_data_files_frequency_seconds" name="upload_data_files_frequency_seconds"
						class="form-control" type="number" placeholder="Enter frequency here (seconds)"
						value="{{ settings['upload_data_files_frequency_seconds'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="primary_care" class="col-xs-8 control-label">Study contact details:<font color="red">(if set to empty,<br>
					the PhoneNumberEntryActivity page<br> will pop up during phone registration)</font>:</label>
				<div class="col-xs-4">
					<input id="primary_care" name="primary_care" class="form-control" value="{{ settings['primary_care'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
			<div class="form-group">
				<label for="phone_number_length" class="col-xs-8 control-label">Phone number length (only the last N digits will be used for hash):</label>
				<div class="col-xs-4">
					<input id="phone_number_length" name="phone_number_length" class="form-control" type="number" value="{{ settings['phone_number_length'] }}" {{ "disabled" if readonly }}>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="mainpage_title">Text that appears on the app's main menu title (individualized text upon registration)
					button:</label>
				<input type="text" name="mainpage_title" id="mainpage_title" class="form-control"
					value="{{settings['mainpage_title']}}" {{ "disabled" if readonly }}>
			</div>
			<div class="form-group">
				<label for="about_page_text">Text on the app's "About" page:</label>
				<textarea name="about_page_text" id="about_page_text" class="form-control" rows="8" cols="120" style="resize: both; overflow: auto;"
					{{ "disabled" if readonly }}>{{settings['about_page_text']}}</textarea>
			</div>
			<div class="form-group">
				<label for="consent_form_text">Text that appears in the app's consent form <font color="red">(set empty to skip
					the consent form page during phone registration)</font>:</label>
				<textarea name="consent_form_text" id="consent_form_text" class="form-control" rows="8" cols="120" style="resize: both; overflow: auto;"
					{{ "disabled" if readonly }}>{{settings['consent_form_text']}}</textarea>
			</div>
			<div class="form-group">
				<label for="survey_submit_success_toast_text">Text that appears in the pop-up message (called an
					Android "Toast") when a survey is submitted:</label>
				<textarea name="survey_submit_success_toast_text" id="survey_submit_success_toast_text" class="form-control"
					rows="3" cols="120" {{ "disabled" if readonly }}>{{settings['survey_submit_success_toast_text']}}</textarea>
			</div>
			{% for section, section_title in { "welcome": "Welcome", "data_gathering": "Data Gathering", "privacy": "Privacy", "time_commitment": "Time Commitment",
            "study_survey": "Study Survey", "study_tasks": "Study Tasks", "withdrawing": "Withdrawing" }.items() %}
			<div class="form-group">
				<label for="{{section}}_summary">iOS consent {{section_title}} text:</label>
				<textarea name="consent_sections.{{section}}.text" id="{{section}}_summary" class="form-control" rows="2"
					cols="120" {{ "disabled" if readonly }}>{{settings['consent_sections'][section]['text']}}</textarea>
			</div>
			<div class="form-group">
				<label for="{{section}}_more">iOS consent {{section_title}} learn more:</label>
				<textarea name="consent_sections.{{section}}.more" id="{{section}}_more" class="form-control" rows="2"
					cols="120" {{ "disabled" if readonly }}>{{settings['consent_sections'][section]['more']}}</textarea>
			</div>
			{% endfor %}
		</div>
	</div>
	{% if not readonly %}
	<button class="btn btn-primary btn-block" type="submit">Save All and Return</button>
	{% endif %}
	{% if readonly %}
	</div>
	{% else %}
	</form>
{% endif %}
{% endblock %}
