{% extends "base.html" %}
{% block title %} Download Page {% endblock %}
{% block content %}
  <div class="container">
    <h3><b>Download the public Android app</b></h3>
    <div class="well">
      <div class="row">
        <div class="col-xs-12">
    		<a href="/download/HOPES-3.0.8-release.apk" class="btn btn-primary">Download the Beiwe Android APK- <b>version 3.0.8 (release)</b></a>
    		<br><br>
    		<ul>
    			<li>It <b>does not include</b> the debug interface.</li>
    		</ul>
        </div>
      </div>
    </div>
{#
    <h3><b>Download the test Android apps</b></h3>
    <p>The Beta versions of the Beiwe and Study Debugger apps are in development.  They may contain updates and bug-fixes, or they may contain unfinished or buggy features.  Make sure to read the descriptions and changelog below the links to understand how the current Beta differs from production.</p>
       <p><b>Note:</b> beta versions of the Beiwe Android app are directed at <a href="https://staging.beiwe.org">staging.beiwe.org</a>, and will only work on with users in studies on that website.</p>

      this text is going to change whenever we upload a new version of the app, keep it simple
      There is currently no Beta version of the Beiwe app.
      <div class="row">
        <div class="col-xs-12">
          <a href="/download_beta" class="btn btn-primary btn-block">Download Beiwe <b>version 2.1.3 </b> </a>
          <div class="text-center">
            You must be logged in to download either of the Beta apps.
          </div>
        </div>
      </div> 

      <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <a href="/download/beiwe-dev.apk" class="btn btn-primary">Download the Beiwe Android APK- <b>version 2.2.5 (development)</b></a>
                <br><br>
                <ul>
                    <li>It <b>includes</b> the debug interface.</li>
                </ul>
            </div>
        </div>
      </div>

    <div class="well">
      <div class="row">
        <div class="col-xs-12">
          <a href="/download_beta_debug" class="btn btn-primary">Download the Beiwe Android APK- <b>version 2.1.3 (beta)</b></a>
    		<br><br>
    		<ul>
    			<li>This version is not available for public download.</li>
    			<li>This version points at <b>staging.beiwe.org</b>.</li>
    			<li>It <b>includes</b> the debug interface.</li>
    		</ul>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-xs-12">
          <a href="/download_beta_release" class="btn btn-primary">Download the Beiwe Android APK- <b>version 2.2.3 (release)</b></a>
    		<br><br>
    		<ul>
    			<li>This version is not available for public download.</li>
    			<li>This version points at <b>studies.beiwe.org</b>.</li>
    			<li>It <b>does not include</b> the debug interface.</li>
    		</ul>
        </div>
      </div>
    </div> #}

    <br><hr><br>

    <h3> Changelog: </h3>

    <div class="well">
    <h4> Beiwe 2.2.5 </h4>
      <p><b> 4/6/18 - Bug fix </b></p>
      <p>Handles null Bluetooth MAC Address in Android 8.0 and above.</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.2.3 is <b>24</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.2.4 </h4>
      <p><b> 1/3/18 - App name change </b></p>
      <p>OnnelaLabServer version and GooglePlayStore version (with customizable URL) have different names (Beiwe vs. Beiwe2).</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.2.3 is <b>23</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.2.3 </h4>
      <p><b> 11/5/17 - UI Change </b></p>
      <p><b>UI Change:</b> improves error messages.</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.2.3 is <b>22</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.2.2 </h4>
      <p><b> 11/5/17 - UI Change </b></p>
      <p><b>Feature:</b> restores persistent, individual survey notifications in Android 7.</p>
      <p><b>UI Change:</b> updates styles.</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.2.2 is <b>21</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.2.1 </h4>
      <p><b> 11/1/17 - UI Change </b></p>
      <p><b>UI Change:</b> updated text on Registration screens.</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.2.1 is <b>20</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.2.0 </h4>
      <p><b> 10/11/17 - Feature </b></p>
      <p><b>Feature:</b> enabled app to point to any server URL; improved Registration and Password Reset interfaces and networking.</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.2.0 is <b>19</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.1.5 </h4>
      <p><b> 6/30/17 - Bug Fix </b></p>
      <p><b>Bug Fix:</b> fixed bugs with recording received SMS messages and sent MMS messages.</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.1.5 is <b>18</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.1.4 </h4>
      <p><b> 4/14/17 - Bug Fix </b></p>
      <p><b>Bug Fix:</b> This fixes a bug where, if you canceled the next scheduled survey time in the web interface, and the app downloaded the updated survey JSON, the next scheduled survey would still appear, because its timer had already been set.</p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.1.4 is <b>17</b>.</p>
    </div>

    <div class="well">
    <h4> Beiwe 2.1.3 </h4>
      <p><b> 3/15/17 - Bug Fixes </b></p>
      <p>
        <b>Bug Fix:</b> Fixed a bug in the error reporting code that could cause Beiwe to crash. <br>
        <b>Bug Fix:</b> Fixed issue in which extremely slow network behavior could cause Beiwe to enter a non-responsive state when trying to upload data.
      </p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.1.3 is <b>16</b>. </p>
      <p><i>Note: the production app (available on studies.beiwe.org/download) was updated from 2.0 directly to 2.1.3, so versions 2.1, 2.1.1, and 2.1.2 were never released for general download. Therefore, anyone upgrading from 2.0 to 2.1.3 should read the changelog entries for 2.1, 2.1.1, and 2.1.2 as well.</i></p>
    </div>

    <div class="well">
    <h4> Beiwe 2.1.2 </h4>
      <p><b> 2/28/17 - Bug Fix </b></p>
      <p>
        <b>Bug Fix:</b> Fixed extremely rare crash in the app UI.
      </p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.1.2 is <b>14</b>. </p>
    </div>

    <div class="well">
    <h4> Beiwe 2.1.1 </h4>
      <p><b> 2/22/17 - Minor Update </b></p>
        <b>Bug Fix:</b> GPS and WiFi data scans should run more consistently, especially when running with problematic permissions under Android 6.
      </p>
      <p> <b> Data Stream Changes </b> </p>
      <p>
        <b>GPS</b> now provides additional information in the app log about the availability and quality of GPS data at the start of each recording session. <br>
        <b> WiFi</b> now provides additional information in the app log if WiFi is disabled on the device when a scan is triggered.
      </p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.1.1 is <b>13</b>. </p>
    </div>

    <div class="well">
    <h4> Beiwe 2.1 </h4>
      <p><b> 1/27/17 - Significant Update </b></p>
      <p>
        <b>Feature:</b> Beiwe has been updated so that researchers can attach conditional display logic to survey questions.<br>
        <b>Feature:</b> Survey questions now support Markdown formatting syntax.</p>
      <p>
        <b>UI Change:</b> In order to support conditional question display logic, survey questions are now viewed one-at-a-time.
      <p>
        <b>Fixed:</b> A potential hang condition if a user exited an audio survey before data encryption was complete has been resolved.<br>
        <b>Fixed:</b> An issue where, under certain study data stream configurations, the app could hang if a user pressed either of the Beiwe App Menu's Call buttons has been resolved.<br>
        <b>Fixed:</b> A bug where some crash reports may not have been successfully reported has been resolved.<br>
        <b>Fixed:</b> A crash that could occur when a user opened a survey has been resolved.
      </p>
      <p> The version identifier in the Device Identifiers data stream for Beiwe version 2.1 is <b>12</b>. </p>
    </div>

    <div class="well">
      <h4> Beiwe 2.0 </h4>
      <b> 10/27/16 - Major Update </b>
      <p> This update to Beiwe includes compatibility with Android 6 and several new features. </p>
      <p>
        <b>Feature: </b> Android 6 App Standby has been bypassed to improve functionality on Android 6.<br>
        <b>Feature: </b> Android 6 Doze feature behavior is well defined, and the Power State data stream now includes a log for that feature.<br>
        <b>Feature: </b> Enhanced (uncompressed) audio surveys have been introduced, as well as additional controls over regular audio surveys. <br>
        <b>Feature: </b> There is a new device setting that allows Beiwe to upload data over the cellular connection.<br>
      </p>
      <p> <b>Fixed: </b> Audio survey files now provide a survey ID when uploaded. <br> </p>
      <p> <b> Data Stream Changes </b> </p>
      Due to limitations imposed in Bluetooth on Android 6+, the Bluetooth data stream may not be reliable. Please review the following to determine if this affects you:
      <ul class="list">
        <li> Bluetooth LE broadcasts (the mechanism Beiwe uses to periodically send out pings to nearby, listening devices) on Android 6 will now cycle through many different random MAC addresses instead of broadcasting the real one. (iPhones have also done this since at least iOS 8, it is an anti-tracking measure.) </li>
        <li> Android no longer allows Beiwe to access the device's true MAC address (some devices will continue to report it anyway, see below). Instead, all devices now return <i>the same</i> default address when queried for the MAC address in the Identifiers data stream.</li>
        <li>We have been able to implement a method to report the correct MAC address for the Identifiers data stream. It is not predictable which devices this will work for, but it should at least be consistent across identical devices running the same version of Android 6. The mechanism we use is expected to be phased out in Android 7. </li>
      </ul>
      Power State
      <ul>
        <li> Android 6.0+ now reports when the device enters and leaves Doze mode in the Power State data stream. <br> </li>
        <li>Android 5.0+ now reports when the device enters and leaves Android's Power Save mode in the Power State data stream. <br> </li>
      </ul>
    </ul>
    <p>
    <b> Other Changes </b> </p>
    <p> When running under Android 6, due to the nature of the permissions system, it is no longer possible to guarantee data stream content directly after registration. Recommended procedure is to reboot the device after installing Beiwe and providing permissions. </p>
    <p> <b> Known Issue: </b> Due to a bug in Android the Beiwe app may not uninstall properly. To bypass this we recommend uninstalling and then rebooting the device if you plan to reinstall Beiwe, or you can manually fix this issue by assigning all necessary permissions in the Beiwe app's settings page in system settings.  This issue presents as an immediate crash of the Beiwe app after installation but before registering under a study. </p>
    <p>The UI for audio surveys has been streamlined.</p>
    The version identifier in the Device Identifiers data stream for Beiwe version 2.0 is <b>10</b>.
  </div>
  
  <div class="well">
   <h4> Older Beiwe releases</h4>
    <p style='margin-bottom:0px'>3/24/16 - (Beiwe Android App version 4) Added further device and software information fields to the identifiers file gathered at user registration.
      <div style='margin-left:18px'>
        <b>Feature</b>: The Beiwe app now has a built-in crash reporter. When the app encounters a bug that would cause it to crash it, instead creates a crash report. Beiwe then restarts itself so that background data gathering and functionality are not significantly interrupted. This crash report will be uploaded to the Beiwe server during the next upload operation. <br>
      <b>Behavior</b>: Because Beiwe now automatically restarts itself, users will no longer receive a notification that Beiwe has stopped working. If the user is viewing the app while it encounters a crash the app will still exit without warning. </div> </p>
      <p>11/30/15 - (Beiwe Android App version 1) Added additional data fields to the device information gathered at user registration, additionally added version numbers to that data. </p>
      <p>10/8/15 - Bug fix: fixed issue where the device would fail to record GPS and Accelerometer data until the Beiwe service was reset.</p>
      <p>10/8/15 - Scheduling logic for GPS, Accelerometer, and Wifi has been made more aggressive, especially when recovering from situations where the device is blocked from recording data streams. </p>
      <p> 9/23/15 - Feature: the Beiwe app is now compatible with the Randomize Survey Questions feature.</p>
    </div>
  </div>

  <div class="well">
    If you encounter a problem with the Beiwe App please send the Beiwe Administrators a bug report.  Remember to include the version of the app you were using, whether it was the Study Debugger or regular App release, the version of Android OS on the device, the user ID and study you were enrolled in, the full model name of the device you were using, and a description of your activity before experiencing the issue.
  </div>


  {# <h2> Data API Status </h2>
    <div class="well">
      In the event of planned downtime there will be a notice here stating when the Data Access API and download page will be unavailable.
      {# There is downtime planned starting the evening of Friday March 4th and continuing until data processing tasks are completed. Expected downtime is a limited to a few hours.
    </div> #}
{% endblock %}