{% extends "base.html" %}

{% block title %}Edit Study {{ study.name }}{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/javascript/edit_study.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<ol class="breadcrumb">
	<li>
		<a href="/manage_studies">Manage Studies</a>
	</li>
	<li class="active">
		{{ study.name }}
	</li>
</ol>

<div class="col-md-12">
  <p>
  {% if study.is_test %}
  This is a test study. Researchers will be able to download raw data and processed data output from the Data Analysis Pipeline.
  {% else %}
  This is a production study. Researchers will only be able to download processed data output from the Data Analysis Pipeline.
  {% endif %}
  </p>

	<div class="row">
		<h2>Authorized researchers on this study</h2>
		<div class="list-group">
			{% if not study.get_researchers() %}
			<p><i>No researchers are authorized to view or edit this study.</i></p>
			{% else %}
			{% for researcher in study.get_researchers()|sort(case_sensitive=False, attribute='username') %}
			<div class="list-group-item">
				<form action="/remove_researcher_from_study" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
					<div class="form-inline">
						<b>{{ researcher.username }}</b>
						<div class="pull-right" style="margin-top: -6px">
							<input type="hidden" name="study_id" value="{{ study.id }}"/>
							<input type="hidden" name="researcher_id" value="{{ researcher.id }}"/>
							<input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
							<button class="btn btn-link remove_researcher_from_study_button">Remove authorization</button>
						</div>
					</div>
				</form>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>


  <div class="row">
    <h5>Authorize an additional researcher on this study:</h5>
    <form action="/add_researcher_to_study" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-inline">
        <select class="form-control" name="researcher_id">
          {% for researcher in all_researchers %}
          <option value="{{ researcher.id }}">{{ researcher.username }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="study_id" value="{{ study.id }}"/>
        <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
        <button type="submit" class="btn btn-info add_researcher_to_study_button">Add researcher to study</button>
      </div>
    </form>
  </div>

  <br><br><br>

  <div class="row">
		<h2>Surveys</h2>

		<div class="list-group">
			{# If there are surveys attached to this study, list them #}
			{% if tracking_survey_ids %}
			{% for ids in tracking_survey_ids %}
			<h4><a href="/edit_survey/{{ids[0]}}" class="list-group-item">Survey ID #{{ids[1]}}</a></h4>
			{% endfor %}
			{# If there aren't surveys attached to this study, show a message saying "no surveys" #}
			{% else %}
			<p><b>This study does not have any surveys.</b></p>
			{% endif %}
		</div>

		{# TODO: Josh, make this pass in the study ID #}
		<a href="/create_survey/{{ study.id }}/tracking_survey" class="btn btn-info">Create new survey</a>
	</div>

  <br><br><br>

  <div class="row">
		<h2>Audio Surveys</h2>
		<div class="list-group">
			{# If there are surveys attached to this study, list them #}
			{% if audio_survey_ids %}
			{% for ids in audio_survey_ids %}
			<h4><a href="/edit_survey/{{ids[0]}}" class="list-group-item">Audio Survey ID #{{ids[1]}}</a></h4>
			{% endfor %}
			{# If there aren't surveys attached to this study, show a message saying "no surveys" #}
			{% else %}
			<p><b>This study does not have any audio surveys.</b></p>
			{% endif %}
		</div>
		<a href="/create_survey/{{ study.id }}/audio_survey" class="btn btn-info">Create new <b>audio survey</b></a>
	</div>

  <br><br><br>

  <div class="row">
    <h2>App settings</h2>
    <a href="/device_settings/{{ study.id }}">Edit the types of data this study collects and the wording that study participants see in the app</a>
  </div>

  <br><br><br>

  <div class="row">
    <h2>Rename study</h2>
    <form action="/rename_study/{{ study.id }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
      <div class="col-md-10">
        <input type="text" name="new_study_name" value="{{ study['name'] }}" class="form-control">
      </div>
      <div class="col-md-2">
        <button class="btn btn-warning" type="submit">Update Name</button>
      </div>
    </form>
  </div>

  <br><br><br>

  <div class="row">
    <h2>Export/Import study settings</h2>
    <div class="col-md-6">
      <h4>Export {{ study['name'] }}'s App Settings and Surveys</h4>
      <p>Download a JSON file that contains {{ study['name'] }}'s App Settings (which data streams are turned on, what the timer durations and frequencies are,
        and what text appears in the app) and copies of all Surveys (including schedules, questions, and skip logic) and Audio Surveys (including schedules and
        voice recording prompts).</p>
      <a class="btn btn-success" href="/export_study_settings_file/{{ study.id }}">Export study settings JSON file</a>
    </div>
    <div class="col-md-6">
      <h4>Import another study's App Settings and/or Surveys into {{ study['name'] }}</h4>
      <form action="/import_study_settings_file/{{ study.id }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
        <input type="file" name="upload" id="file_upload_selector">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="device_settings" value="true" checked>
            Overwrite {{ study['name'] }}'s App Settings with the App Settings in the file you upload
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="surveys" value="true" checked>
            Add new Surveys and Audio Surveys to {{ study['name'] }} that are copies of all the Surveys and Audio Surveys in the file you upload
          </label>
        </div>
        <button type="submit" id="file_upload_button" class="btn btn-warning" disabled="disabled">Import study settings file</button>
      </form>
    </div>
  </div>

  <br><br><br>

  <div class="row">
    <h2>Delete study</h2>
    <a class="btn btn-danger" onclick="confirm_delete_study('{{ study.name|replace("'", "")|replace('"', "") }}', '{{ study.id }}')">
    <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete study</a>
  </div>

  <br><br><br><br>

  </div>
</div>

{% endblock %}
