<hr />

<div class="container text-center">
  Contact:
  <a href="mailto:moht.hopes@moht.com.sg">moht.hopes@moht.com.sg</a>
  &nbsp; | &nbsp; {# TODO: Make this automatically update to the current year #}
  &copy; 2018-2020 MOH Office for Healthcare Transformation
</div>
