{% extends "base.html" %} {% block content %}
<ol class="breadcrumb">
  <li>
    <a href="/view_study/{{ study.id }}">{{ study.name }}</a>
  </li>
  <li class="active">{{ patient.patient_id }} Custom Field Values</li>
</ol>

<div class="row">
  <h2>
    Patient ID <b>{{ patient.patient_id }}</b> | edit custom field values
  </h2>
</div>

<div class="row form-horizontal">
  <form
    action="/view_study/{{ study.pk }}/patient_fields/{{ patient.pk }}"
    method="POST"
  >
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    {% if not fields %}
    <p>
      <i>{{ study.name }} does not have any custom fields.</i>
    </p>
    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>Custom field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for field in fields %}
        <tr>
          <td>
            {{ field.field_name }}
          </td>
          <td>
            <input
              type="text"
              name="{{ field.field_name }}"
              value="{{ patient.values_dict[field.field_name] }}"
            />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      Save values for all custom fields
    </button>
    {% endif %}
  </form>
</div>

{% endblock %}
