{% extends "base.html" %}

{% block title %}View Study{% endblock %}

{% block content %}

{% set dash_style='column-width:160px; min-width:160px; width:160px; max-width:160px; word-wrap: break-word; word-break:break-all' %}

<div class="container">
	<!-- Draggable DIV -->
	<div id="draggable" style="visibility:hidden; position: absolute; z-index: 9; background-color: #f1f1f1; border: 1px solid #d3d3d3; text-align: center;">
		<!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
		<div id="draggableheader" style="padding: 10px; cursor: move; z-index: 10; background-color: #2196F3; color: #fff;">
			<b id="draggabletitle">Detailed Patient Data Upload Statistics</b>
			<a style="cursor:pointer; color:red" onclick="hide_details()">[Close]</a>
		</div>
		<div style="min-height:100px; max-height:600px; overflow: scroll;" id="draggablecontent"></div>
	</div>
	<script src="/static/javascript/jquery.json-editor.min.js"></script>
	<script type="text/javascript">
		function confirm_unregister(e){
			if(!confirm('This will force the APP to unregister the study upon the next data upload. Are you sure?')) {
        e.preventDefault();
    	}
		}
		function unescape_quote(s){
			return s.replace("&quot;", '"').replace("&apos;", "'")
		}
		function set_remarks(patient, curr_remarks){
			var remarks = window.prompt("Edit remarks for the patient:", unescape_quote(curr_remarks));
			if(remarks!=null){
				var form = $('<form action="/set_remarks" method="post">' +
					'<input type="text" name="study_id" value="' + {{study.id}} + '" />' +
					'<input type="text" name="patient_id" value="' + patient + '" />' +
					'<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>' +
					'<input type="text" name="remarks" value="' + remarks + '" />' +
					'</form>');
				$('body').append(form);
				$(form).submit();
			}
		}

		function register_dashboard(dashboard, patient, remarks, old_reg_id=''){
			var reg_id = window.prompt("Please input the "+dashboard+" registration ID/Email for Patient "
										+patient+(remarks?" ("+unescape_quote(remarks)+"):":":"), old_reg_id);
			if(reg_id!=null){
				var form = $('<form action="/register_dashboard" method="post">' +
					'<input type="text" name="study_id" value="' + {{study.id}} + '" />' +
					'<input type="text" name="patient_id" value="' + patient + '" />' +
					'<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>' +
					'<input type="text" name="dashboard" value="' + dashboard + '" />' +
					'<input type="text" name="reg_id" value="' + reg_id + '" />' +
					'</form>');
				$('body').append(form);
				$(form).submit();
			}
		}
		function show_dashboard_details(dashboard, patient_id, remarks){
			draggable.style.visibility = "visible";
			draggable.style.top = (document.documentElement.scrollTop+50)+"px";
			draggable_title.innerText = dashboard+" Dashboard Details for Patient "+patient_id+(remarks?" ("+unescape_quote(remarks)+") ":" ");
			draggable_content.innerHTML = "Please wait while retrieving data ...";
			$.get("/check_dashboard_details/{{dashboard}}/"+patient_id)
			.done(function(data){
				draggable_content.innerHTML = data;
			})
			.fail(function(status){
				draggable_content.innerHTML = status;
			})
		}

		var draggable = document.getElementById("draggable");
		var draggable_header = document.getElementById("draggableheader");
		var draggable_title = document.getElementById("draggabletitle");
		var draggable_content = document.getElementById("draggablecontent");

		var range = document.createRange();
		var documentFragment = null;
		var sampleSurveyJSON = `{ "content":[
				{"display_if": null, "max": "10", "min": "1", "question_id": "1f61ee06-82f0-4134-9e45-3588db4bfab0", "question_text": "What is your energy level?", "question_type": "slider"},
			    {"display_if": {"<": ["1f61ee06-82f0-4134-9e45-3588db4bfab0", 5]}, "play_time_limits": "", "question_id": "d3eeec6c-4ee6-476a-a8c4-2f6d27548101", "question_text": "https://www.mindline.sg/?wysa_tool_id=deep_relaxation", "question_type": "web_survey", "webview_settings": "{}"},
				{"display_if": {"<": ["1f61ee06-82f0-4134-9e45-3588db4bfab0", 5]}, "question_id": "6eecef18-c5c1-446a-9c38-7246f1924c4a", "question_text": "Thank you for visiting the website!", "question_type": "info_text_box"},
				{"display_if": {">=": ["1f61ee06-82f0-4134-9e45-3588db4bfab0", 5]}, "question_id": "4c25831f-c75a-413e-80f4-5f40c0ad0b42", "question_text": "Great, keep it up!", "question_type": "info_text_box"}
			],
			"settings":{ "trigger_on_first_download": false,
						 "survey_notibar_title": "HOPES test push survey",
						 "survey_notibar_desc": "Hello",
						 "allow_notibar_dismiss": true,
						 "allow_navigate_back": true,
						 "show_all_at_once": false,
						 "randomize": false,
						 "randomize_with_memory": false,
						 "number_of_random_questions": null},
			"expiry": "10000",
			"name": "anything"
		  }`;
		var setInnerHTML = function(elm, html) {
			elm.innerHTML = '';
			range.selectNode(elm);
			if(documentFragment!=null) elm.removeChild(documentFragment);
			var documentFragment = range.createContextualFragment(html);
			elm.appendChild(documentFragment);
		}

		function show_details(patient_name, patient_id){
			draggable.style.visibility = "visible";
			draggable.style.top = (document.documentElement.scrollTop+50)+"px";
			draggable_title.innerText = "Upload Details for Patient "+patient_name+" ("+patient_id+")";
			draggable_content.innerHTML = "Please wait while retrieving data ...";
			$.get("/check_upload_details/{{study.id}}/"+patient_id)
			.done(function(data){
				draggable_content.innerHTML = data;
			})
			.fail(function(status){
				draggable_content.innerHTML = status;
			})
		}

		function show_state_var(patient_name, patient_id){
			draggable.style.visibility = "visible";
			draggable.style.top = (document.documentElement.scrollTop+50)+"px";
			draggable_title.innerText = "Survey State Variable for Patient "+patient_name+" ("+patient_id+")";
			draggable_content.innerHTML = "<pre id='json-display'></pre><div id='tmp'>Please wait while retrieving data ...</div>";
			$.get("/get_state_var/{{study.id}}/"+patient_id)
			.done(function(data){
				var editor = new JsonEditor('#json-display');
				editor.load(JSON.parse(data));
				$("#tmp").hide();
			})
			.fail(function(status){
				draggable_content.innerHTML = status;
			})
		}

		function show_report(patient_name, patient_id){
			draggable.style.visibility = "visible";
			draggable.style.top = (document.documentElement.scrollTop+50)+"px";
			draggable_title.innerText = "Data Completion Report for Patient "+patient_name+" ("+patient_id+")";
			draggable_content.innerHTML = "Please wait while retrieving data ...";
			$.get("/get_completion_report/{{study.id}}/"+patient_id)
			.done(function(data){
				setInnerHTML(draggable_content, data);
			})
			.fail(function(status){
				draggable_content.innerHTML = status;
			})
		}

		function fcm_help(){
			alert(`The message should be either of the form:
{"type": "notify-only", "title": "", "content": "", "data":"(optional, to be displayed in MainMenuActivity when user click into)", "dismissable":"true/false", "expiry":"(optional)"} (for testing purpose only)
or {"type": "request-update"} (request phone to update surveys) or {"type": "add-to-push-stack"} (add to per-patient survey stack)`);
		}

		function send_fcm(patient_name, patient_id){
			var res = confirm("Are you sure you want to directly send push notification to " + patient_name + "(" + patient_id + ")?");
			if(!res) return false;
			var self = $('#fcm_form');
      $.post(self.attr('action'), self.serialize(), function(msg) {
        alert('Server Response: ' + msg);
        location.reload();
      }, 'text');
      return false;
		}

		function handle_type(){
			var ptype = $("#push-type").val();
			$(".tohide").hide();
			if(ptype=="notify-only") $("#for-notify-only").show();
			else if(ptype=="add-to-push-stack") $("#for-add-to-push-stack").show();
		}

		function show_fcm_console(patient_name, patient_id){
			draggable.style.visibility = "visible";
			draggable.style.top = (document.documentElement.scrollTop+50)+"px";
			draggable_title.innerText = "Manually Send Firebase Push Notification to "+patient_name+" ("+patient_id+")";
			setInnerHTML(draggable_content, `<form id='fcm_form' action="/send_fcm" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
				<input type="hidden" name="study_id" value="{{study.id}}"/>
				<input type="hidden" name="patient_id" value="${patient_id}"/>
				<p>
					<label for="push-type">Purpose of push notification:</label>
					<select name="type" id="push-type" onchange="handle_type()">
						<option value="notify-only" selected="selected">Notify Only</option>
						<option value="update-survey">Request Phone to Fetch Updated Surveys</option>
						<option value="add-to-push-stack">Add to Push Survey Stack (Per-patient)</option>
					</select>
				</p>
				<div class="tohide" id="for-notify-only">
					<p>
						<label for="title">Title: </label><input type="text" name="title" id="title" />&nbsp;
						<label for="content">Content:</label><input type="text" name="content" id="content" />&nbsp;
						<label for="expiry">Expiry (optional):</label><input type="text" name="expiry" id="expiry" />&nbsp;
						<label for="dismissable">Dismissable: </label><input type="checkbox" id="dismissable" name="dismissable" checked>
					</p>
					<p style="vertical-align: top; display: table-cell; align-text: top">
						<label for="data" style="vertical-align: top; align-text: top">Data:</label>
						<textarea id="data" name="data" rows=10 cols=100 placeholder="Please paste the push notification's JSON text here!"></textarea>
					</p>
				</div>
				<div class="tohide" id="for-add-to-push-stack">
					<p style="vertical-align: top; display: table-cell; align-text: top">
						<label for="data1" style="vertical-align: top; align-text: top">Survey JSON:</label>
						<textarea id="data1" name="data1" rows=10 cols=100 placeholder="Please paste the questions' JSON text here!"></textarea>
					</p>
				</div>
				<div style="display:flex; justify-content: space-between; padding-top: 5px">&nbsp;
					<input type=button style="width:200px" onclick='fcm_help()' value='Help'>&nbsp;
					<input type=button style="width:200px" onclick='$("#data").val("");$("#data1").val(sampleSurveyJSON)' value='Reset Content'>&nbsp;
					<input type=button style="width:200px" onclick='send_fcm("${patient_name}", "${patient_id}")' value='Send Push Notification'>&nbsp;
				</div>
			</form>`);
			handle_type();
			$("#data1").val(sampleSurveyJSON);
		}
		
		function show_push_stack(patient_name, patient_id, push_id){
			draggable.style.visibility = "visible";
			draggable.style.top = (document.documentElement.scrollTop+50)+"px";
			draggable_title.innerText = "Push Survey Stack for "+patient_name+" ("+patient_id+")";
			draggable_content.innerHTML = "Please wait while retrieving data ...";
			$.get("/get_push_stack/"+patient_id+"/"+push_id)
			.done(function(data){
				setInnerHTML(draggable_content, data);
			})
			.fail(function(status){
				draggable_content.innerHTML = status;
			})
		}

		function hide_details(){ draggable.style.visibility = "hidden" }

		// Make the DIV element draggable
		function dragElement(elmnt) {
			var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
			draggable_header.onmousedown = dragMouseDown;

			function dragMouseDown(e) {
				e = e || window.event;
				e.preventDefault();
				// get the mouse cursor position at startup:
				pos3 = e.clientX;
				pos4 = e.clientY;
				document.onmouseup = closeDragElement;
				// call a function whenever the cursor moves:
				document.onmousemove = elementDrag;
			}

			function elementDrag(e) {
				e = e || window.event;
				e.preventDefault();
				// calculate the new cursor position:
				pos1 = pos3 - e.clientX;
				pos2 = pos4 - e.clientY;
				pos3 = e.clientX;
				pos4 = e.clientY;
				// set the element's new position:
				elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
				elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
			}

			function closeDragElement() {
				// stop moving when mouse button is released:
				document.onmouseup = null;
				document.onmousemove = null;
			}
		}
		dragElement(draggable);
	</script>

	<div class="span12">
		{% if qr_image %}
		<script type="text/javascript">
          function hasRegistered(){
            $.get("/check_new_patient/{{study.id}}/{{check_id}}").done(function(data){
              if(data=="yes")
                document.location.replace("/view_study/{{study.id}}/{{check_id}}");
              else
                setTimeout(hasRegistered, 3000);
            });
          }
          window.onload = hasRegistered;



		</script>
		<div class="row" align="center">
			<img src="{{qr_image}}" alt="registration_QR.png" scale="0" align="middle">
		</div>
		{% endif %}

		<div class="row">
			<h2><b>Study Name: {{ study.name }}</b></h2>
			<p>ID: {{ study.object_id }}</p>
		</div>
	</div>

	{% if study.is_test %}
	This is a test study. Researchers will be able to download raw data and processed data output from the Data Analysis Pipeline.
	{% else %}
	This is a production study. Researchers will only be able to download processed data output from the Data Analysis Pipeline.
	{% endif %}

	<p class="span12">
		<div class="row">
			<h3><b>Participants Manager</b></h3>
		</div>

    <form action="/create_new_patient" method="post">
        <div class="form-inline pull-left">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="study_id" value="{{ study.id }}">
            <input
                type="text"
                maxlength="256"
                name="email_pattern"
                placeholder="moht.dsth.000@moht.com.sg"
                value="moht.dsth.000@moht.com.sg"
                class="form-control"
                style="width:250px;"
            />

            <button type="submit" class="btn btn-primary add_new_patient_button" style="width:250px"><b>Add new patient</b></button>
        </div>
    </form>
		&nbsp;
		<button type="button" class="btn btn-warning add_many_patients_button" data-toggle="modal" data-target="#addManyPatientsModal" style="width:250px"
						title="Enable a number of new patients to enroll in {{ study.name }}: download a file of new Patient IDs and registration passwords">
			<b>Add many new patients</b>
		</button>
	</p>

	{% include 'create_many_patients_modal.html' %}

	<table class="table" id="patients_list" style="width:100%; table-layout: fixed">
		<thead>
		<tr>
			<th>User Name</th>
			<th>User ID<br>(Set Remarks)</th>
			<th>Phone Registered</th>
			<th>Phone OS Information</th>
			<th>Push Survey Stack</th>
			<th>Registration Date/Time</th>
			<th>Last Upload Date/Time</th>
			<th style="{{ dash_style }}">Data Completion Status</th>
			{% for dashboard in dashboards %}
			<th style="{{ dash_style }}">{{dashboard}}</th>
			{% endfor %}
		</tr>
		</thead>
		<tbody id="users-table-body">

		{% for patient in patients %}
		<tr>
			<td style="width:120px; word-wrap: break-word;">
				<b><a style="cursor:pointer" title="View data completion dashboard that the patient sees when they click into the app"
							onclick="show_report('{{ patient.name }}', '{{ patient.patient_id }}')">{{ patient.name }}</b>
			</td>
			<td style="width:80px; word-wrap: break-word;">
				<a style="cursor:pointer" onclick="show_state_var('{{ patient.name }}', '{{ patient.patient_id }}')"
					 title="View state variable JSON from submitted surveys"><b>{{ patient.patient_id }}</b></a>
				{% if patient.remarks %}
				<br><a style="cursor:pointer" title="Set/edit remark" onclick="set_remarks('{{ patient.patient_id }}', '{{ patient.remarks|escape_quote }}')">({{ patient.remarks }})</a>
				{% else %}
				<br><a style="cursor:pointer" title="Set/edit remark" onclick="set_remarks('{{ patient.patient_id }}', '')">(add remark)</a>
				{% endif %}
			</td>
			<td>
				{% if patient.device_id %}
				<form action="/reset_device" method="post">
					<div class="form-inline">
						<input type="hidden" name="patient_id" value="{{ patient.patient_id }}">
						<input type="hidden" name="study_id" value="{{ study.id }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
						<button type="submit" onclick="confirm_unregister(event)" class="btn btn-warning btn-sm reset_device_button">Un-register Phone</button>
					</div>
				</form>
				{% else %}
				No smartphone registered
				{% endif %}
			</td>
			<td style="min-width:150px; max-width:180px; word-wrap: break-word;">
				<a style="cursor:pointer" title="Manually send push notification to the device" onclick="show_fcm_console('{{ patient.name }}', '{{ patient.patient_id }}')">
				{% if patient.os_desc %}
				{{ patient.os_desc }}
				{% elif patient.os_type %}
				{{ patient.os_type }}
				{% else %}
				<i>unknown</i>
				{% endif %}
				</a>
			</td>
			<td>
				<form action="/reset_participant_password" method="post">
					<div class="form-inline">
						<input type="hidden" name="patient_id" value="{{ patient.patient_id }}">
						<input type="hidden" name="study_id" value="{{ study.id }}">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
						<button type="submit" class="btn btn-warning btn-sm reset_password_button">Reset password</button>
					</div>
				</form>
				{% for pk in get_push_stacks(patient.patient_id) %}
					<a href="/edit_survey/{{pk}}">[{{loop.index}}]</a> 
				{% endfor %}
			</td>
			<td style="min-width:110px">
				{% if patient.created_on %}
				{{ patient.created_on|print_date }}
				{% endif %}
			</td>
			<td style="min-width:110px" bgcolor="{{ patient|get_date_color }}">
				{% if patient.last_updated %}
				{{ patient.last_upload_time|print_date }}
				{% endif %}
			</td>
			<td style="{{ dash_style }}">
				{% if patient.last_updated %}
				<a style="cursor:pointer" title="View detailed feature collection statistics table" onclick="show_details('{{ patient.name }}', '{{ patient.patient_id }}')"> {{
					patient|print_data_completion(study)|safe }} </a>
				{% endif %}
			</td>
			{% for dashboard in dashboards %}
			<td style="{{ dash_style }}">
				{% if patient.ext_dashboards_json and dashboard in patient.ext_dashboards_json %}
				<a style="cursor:pointer"
					 onclick="show_dashboard_details('{{ dashboard }}', '{{ patient.patient_id }}', '{{ patient.remarks|escape_quote }}')">{{
					patient.ext_dashboards_json[dashboard] }}</a><br>
				<button type="submit" class="btn btn-warning btn-sm"
								onclick="register_dashboard('{{ dashboard }}', '{{ patient.patient_id }}', '{{ patient.remarks|escape_quote }}', '{{ patient.ext_dashboards_json[dashboard] }}')">
					Change
				</button>
				{% else %}
				<button type="submit" class="btn btn-warning btn-sm"
								onclick="register_dashboard('{{ dashboard }}', '{{ patient.patient_id }}', '{{ patient.remarks|escape_quote }}')">Register
				</button>
				{% endif %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}

		</tbody>
	</table>

	<br/>
	<hr>
	<br/>

	<div class="row">
		<h3>Surveys</h3>

		<div class="list-group">
			{# If there are surveys attached to this study, list them #}
			{% if tracking_survey_ids %}
			{% for ids in tracking_survey_ids %}
			<h4><a href="/edit_survey/{{ids[0]}}" class="list-group-item">Survey [{{ids[0]}}: {{ids[1]}}] <b>{{'Dismissable' if ids[-1]['allow_notibar_dismiss'] else 'Non-dismissable'}}</b> (Title: {{ids[-1]['survey_notibar_title']}}) (Desc: {{ids[-1]['survey_notibar_desc']}}) (ID: #{{ids[2]}})</a></h4>
			{% endfor %}
			{# If there aren't surveys attached to this study, show a message saying "no surveys" #}
			{% else %}
			<p><b>This study does not have any surveys.</b></p>
			{% endif %}
		</div>

		{# TODO: Josh, make this pass in the study ID #}
		<a href="/create_survey/{{ study.id }}/tracking_survey" class="btn btn-info">Create new survey</a>
	</div>

	<div class="row">
		<h3>Audio Surveys</h3>
		<div class="list-group">
			{# If there are surveys attached to this study, list them #}
			{% if audio_survey_ids %}
			{% for ids in audio_survey_ids %}
			<h4><a href="/edit_survey/{{ids[0]}}" class="list-group-item">Audio Survey ID #{{ids[1]}}</a></h4>
			{% endfor %}
			{# If there aren't surveys attached to this study, show a message saying "no surveys" #}
			{% else %}
			<p><b>This study does not have any audio surveys.</b></p>
			{% endif %}
		</div>
		<a href="/create_survey/{{ study.id }}/audio_survey" class="btn btn-info">Create new <b>audio survey</b></a>
	</div>

	<div class="row">
		<h3>App settings</h3>
		<p><a href="/device_settings/{{ study['id'] }}">View the types of data this study collects and the wording that study participants see in the
			app</a></p>
	</div>

	<div class="row">
		<h3>Data Pipeline</h3>
		<p><a href="/data-pipeline/{{ study._id }}">View the data pipeline information for this study</a></p>
	</div>

</div>
</div>

{% endblock %}
