<!DOCTYPE html>
<html>
  <head>
    <style>
      @media print {
        body {
          -webkit-print-color-adjust: exact;
        }
      }
      body {
        margin: 0;
        padding: 0;
        background: white;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      #page {
        margin: 2em;
      }
    </style>
  </head>
  <body>
    <div id="page">
      <div style="display:flex">
        <div style="width:70%">
          <p>
            Confidential and Private - MOH Office for Healthcare Transformation
          </p>
          <p>HOPE-S Phase A 2019-2020</p>
          <div>STUDY ID: {{ studyId }}</div>
        </div>
        <div style="width:30%;text-align:right;">
          <h1>S{{ lastThree }}</h1>
        </div>
      </div>
      <hr />
      <div style="display:flex;justify-content:space-evenly;">
        <div style="display:flex;width:50%">
          <div style="margin-right:10px;">
            <div>START DATE:</div>
          </div>
          <div style="margin-right:10px;font-weight:bold;">
            <div>{{ startDate }}</div>
          </div>
        </div>
        <div style="display:flex;width:50%">
          <div style="margin-right:10px;">
            <div>END DATE:</div>
          </div>
          <div style="margin-right:10px;font-weight:bold;">
            <div>{{ endDate }}</div>
          </div>
        </div>
      </div>
      <div style="margin-top:20px;">
        <div
          style="padding:2em;border-radius:15px;background:#f0f0f0;margin:2em 0;"
        >
          <h4 style="margin-top:0;">Registration</h4>
          <div style="display:flex;">
            <div style="margin-right:10px;">
              <div>HOPES URL:</div>
              <div>HOPES ID:</div>
            </div>
            <div style="font-weight:bold;">
              <div>{{ hopesURL }}</div>
              <div>{{ hopesId }}</div>
            </div>
          </div>
          <div>
            <p>
              Scan the QR code below to login to the HOPES app (first time
              registration only)
            </p>
            <div style="text-align:center;margin:2em 0;">
              <img src="{{ qrCode }}" alt="" />
              <img src="{{ qrReregister }}" alt="" />
              <h5>Credentials</h5>
            </div>
            <div style="text-align:center;margin:2em 0;">
              <img src="{{ cert }}" alt="" />
              <h5>Certificate</h5>
            </div>
            <div style="text-align:center;margin:2em 0;">
              <img src="{{ public }}" alt="" />
              <h5>Public Key</h5>
            </div>
            <div style="text-align:center;margin:2em 0;">
              <img src="{{ key }}" alt="" />
              <h5>Private Key</h5>
            </div>
          </div>
        </div>
        <div
          style="padding:2em;border-radius:15px;background:#f0f0f0;margin:2em 0;"
        >
          <h4 style="margin-top:0;">Fitbit Credentials</h4>
          <div style="display:flex;">
            <div style="margin-right:10px;">
              <div>FITBIT ID:</div>
              <div>PASSWORD:</div>
            </div>
            <div style="font-weight:bold;">
              <div>{{ fitbitId }}</div>
              <div>{{ fitbitPassword }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
