<!DOCTYPE html>
<html>
  <head>
    <style>
      @media print {
        body {
          -webkit-print-color-adjust: exact;
        }
      }
      body {
        margin: 0;
        padding: 0;
        background: white;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
    </style>
  </head>
  <body>
    <div>
      <div style="height:100vh;">
        <div style="display:flex">
          <div style="width:70%">
            <img src="../moh-logo.png" alt="" width="150" />
            <p>
              Confidential and Private - MOH Office for Healthcare
              Transformation
            </p>
          </div>
          <div style="width:30%;text-align:right;">
            <h1>S{{ lastThree }}</h1>
          </div>
        </div>
        <div style="display:flex;">
          <div style="width:50%">
            <p>HOPE-S Phase A 2019-2020</p>
            <div>
              HOPES STUDY ID: <strong>{{ studyId }}</strong>
            </div>
            <div>HOPES ID:</div>
            <div>
              <strong>{{ hopesId }}</strong>
            </div>
          </div>
          <div style="width:50%;background:#95deff;padding-bottom:20px;">
            <div style="margin-left:5%;">
              <p>Wearable Device Login</p>
              <div style="display:flex;">
                <div style="margin-right:10px;">
                  <div>FITBIT ID:</div>
                  <div>PASSWORD:</div>
                </div>
                <div style="font-weight:bold;">
                  <div>{{ fitbitId }}</div>
                  <div>{{ fitbitPassword }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="display:flex">
          <div style="width:50%;background:#D2691E">
            <div style="padding:10px;">
              <h3>Step 1: Initial Registration</h3>
              <p>
                Scan the QR code below to login to the HOPES appwhen prompted
                for Step 1 when doing first install<br /><br />
              </p>
              <div style="text-align:center">
                <img src="{{ qrCode }}" alt="" style="width:200px" />
              </div>
            </div>
          </div>
          <div style="width:50%;background:#EE82EE">
            <div style="padding:10px;">
              <h3>Move to a new Phone or Reset</h3>
              <p>
                Scan the QR code below to login to the HOPES app when prompted
                for Step 1 to move to a new phone. Subsequent moves must get a
                new QR.
              </p>
              <div style="text-align:center">
                <img src="{{ qrReregister }}" alt="" style="width:200px" />
              </div>
            </div>
          </div>
        </div>
        <div style="background:#20B2AA">
          <div style="padding:10px;">
            <div>
              <h3>Step 2: Registration - Study Root of Trust</h3>
              <p>
                Scan the QR code below during Registration when prompted for
                Step 2
              </p>
              <div style="text-align:center">
                <img src="{{ chain }}" alt="" style="width:300px" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="height:100vh;">
        <div style="display:flex">
          <div style="width:70%">
            <img src="../moh-logo.png" alt="" width="150" />
          </div>
          <div style="width:30%;text-align:right;">
            <h1>S{{ lastThree }}</h1>
          </div>
        </div>
        <div style="display:flex">
          <div style="width:50%;">
            <div style="background:#FFFF33">
              <div style="padding:10px;">
                <h3>Step 3: Registration - Participant Login Identifier</h3>
                <p>
                  Scan the QR code below to login to the HOPES app when prompted
                  for Step 3
                </p>
                <div style="text-align:center">
                  <img src="{{ cert }}" alt="" style="width:300px" />
                </div>
              </div>
            </div>
          </div>
          <div style="width:50%;">
            <div style="background:#32CD32">
              <div style="padding:10px;">
                <h3>Step 4: Registration - Participant Login Key</h3>
                <p>
                  Scan the QR code below to login to the HOPES app when prompted
                  for Step 4
                </p>
                <div style="text-align:center">
                  <img src="{{ key }}" alt="" style="width:300px" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div style="background:#4169E1">
              <div style="padding:10px;">
                <h3>Step 5: Registration - Participant Encryption Key</h3>
                <p>
                  Scan the QR code below to login to the HOPES app when prompted
                  for Step 5
                </p>
                <div style="text-align:center">
                  <img src="{{ public }}" alt="" style="width:400px" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
